<ons-page ng-controller="AlunosController">
  <ons-toolbar>
    <div class="left">
      <ons-back-button></ons-back-button>
    </div>
    <div class="center" ng-repeat="part in participants" ng-show="$index==0">{{part.NameEvent}}</div>
  </ons-toolbar>

  <ons-list>
    <ons-list-header>Alunos</ons-list-header>
    <ons-list-item ng-repeat="x in participants">
      <div class="left">
       <ons-icon icon="md-face" class="list-item__icon"></ons-icon>
     </div>
      <div class="center">
        {{x.NameParticipant}}
      </div>
      <div class="right">
        <ons-switch ng-model="check" ng-change="presence(check,x)" ng-checked="loadPresence(x.Present)"></ons-switch>
      </div>
    </ons-list-item>
  </ons-list>

</ons-page>
