<ons-page ng-controller="CertificadoController">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="fn.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      Certificado
    </div>
  </ons-toolbar>

  <div style="text-align: center; margin-top: 30px;">
      <ons-input id="certificadoLabel" type="text" modifier="underbar" disabled></ons-input></br></br>
      <ons-button ng-click="loadCertificado()">
        <ons-icon icon="ion-camera" size="50px"></ons-icon>
      </ons-button></br>
    <p>
      <ons-input id="namecourse" modifier="underbar" placeholder="Nome do Curso" float ng-model="namecourse" ></ons-input>
    </p>
    <p>
      <ons-input id="workload" modifier="underbar" type="number" placeholder="Carga horaria" float ng-model="workload"></ons-input>
    </p>
    <p>
      Data:
      <ons-input id="datecourse" modifier="underbar" type="date" float ng-model="datecourse"></ons-input>
    </p>
    <p ng-show="invalid_course" class="message_error">Informar todos os campos</p>

      <ons-button ng-click="pushCertificado()">
        <ons-icon icon="ion-paper-airplane" size="50px"></ons-icon>
          Enviar Certificado</ons-button>
  </div>

</ons-page>
