<ons-page ng-controller="DetalhesController">
  <ons-toolbar>
    <div class="left">
      <ons-back-button></ons-back-button>
    </div>
    <div class="center">{{eventsDetails.NameEvent}}</div>
    <div class="right">
      <ons-toolbar-button ng-click="navigateToAluno(eventsDetails)">
        <ons-icon icon="md-check"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <ons-list>
    <ons-list-header>Informações</ons-list-header>
    <ons-list-item>
        <div>Horário</div>
        <div class="right">{{eventsDetails.HourStart}} - {{eventsDetails.HourEnd}}</div>
    </ons-list-item>
    <ons-list-item>
      <div>Data</div>
      <div class="right">{{eventsDetails.Day}}</div>
    </ons-list-item>
    <ons-list-item>
      <div>Alunos</div>
      <div class="right">{{eventsDetails.EventParticipantTotalNumber}}</div>
    </ons-list-item>
  </ons-list>

  <ons-list>
    <ons-list-header>Localização</ons-list-header>
    <ons-list-item>
        <div>Sala</div>
        <div class="right">{{eventsDetails.NameLocal}}</div>
    </ons-list-item>
    <ons-list-item>
      <div>Filial</div>
      <div class="right">{{eventsDetails.NameEntity}}</div>
    </ons-list-item>
  </ons-list>

  <ons-list>
    <ons-list-header>Conteúdo</ons-list-header>
    <ons-list-item>
      {{eventsDetails.Content}}
    </ons-list-item>
  </ons-list>

  <div id="map_canvas"></div>
</ons-page>
