<ons-page ng-controller="HomeController">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="fn.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      Inicio
    </div>
  </ons-toolbar>
  <div class="Dashboard">
    <ons-list>
      <ons-list-header>
        <p class="TitleName">
          <ons-icon icon="ion-person" size="60px"></ons-icon>{{NamePerson}}
        </p>
      </ons-list-header>
      <ons-list-item>
        <div class="itemDashboard">
            <p class="TitleDashboard">N° Eventos Realizados</p>
            <p class="TitleDashboardResult">{{EventsRealized}}</p>
        </div>
      </ons-list-item>
      <ons-list-item>
        <div>
          <div id="container" style="min-width: 310px; max-width: 400px; height: 300px; margin: 0 auto"></div>
        </div>
      </ons-list-item>
      <ons-list-item>
        <div>
          <svg></svg>
        </div>
      </ons-list-item>
    </ons-list>
  </div>
  <ons-modal id="modalAvaReacao">
      <div style="text-align:center;">
        <p>Avalie o evento <b>{{NameEventAvailable}}</b></p>
        <ons-radio-button modifier="material" ng-click="aval(1)" id="rat1"><ons-icon icon="ion-star" size="50px"></ons-icon></ons-radio-button>
        <ons-radio-button modifier="material" ng-click="aval(2)" id="rat2"><ons-icon icon="ion-star" size="50px"></ons-icon></ons-radio-button>
        <ons-radio-button modifier="material" ng-click="aval(3)" id="rat3"><ons-icon icon="ion-star" size="50px"></ons-icon></ons-radio-button>
        <ons-radio-button modifier="material" ng-click="aval(4)" id="rat4"><ons-icon icon="ion-star" size="50px"></ons-icon></ons-radio-button>
        <ons-radio-button modifier="material" ng-click="aval(5)" id="rat5"><ons-icon icon="ion-star" size="50px"></ons-icon></ons-radio-button>
        <br><br>
      </div>
      <div style="text-align:center;">
        <section style="padding: 0 8px 8px">
            <textarea class="textarea" ng-model="comment" id="comment" placeholder="Comentário" style="width: 80%; height: 120px;"></textarea>
        </section><br>
        <ons-button ng-click="available()">Enviar Avaliação</ons-button>
      </div>
  </ons-modal>
</ons-page>
