<ons-page ng-controller="InscricaoEventoController">

  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="fn.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      Inscrição Evento
    </div>
  </ons-toolbar>

  <div style="text-align: center; margin-top: 30px;">
    <p ng-show="invalid_turmas" class="message_error" id="message_null">Não possui turmas nesse período</p>
  </div>
  <ons-list>

     <ons-list-header>Inscrever-se em Eventos</ons-list-header>
     <ons-list-item ng-click="enrolled(details)" modifier="chevron" ng-repeat="details in eventsEnrolled" tappable>
       <div class="left">
        <ons-icon icon="ion-ios-list" size="40px"></ons-icon>
      </div>
       <div class="turma">
         <strong>{{ details.NameEvent }} </strong>
         <small> {{ details.Local }} - {{ details.Date }} </small>
       </div>
       <div class="right">
        <div class="turma-icon">
           <ons-icon icon="md-face"></ons-icon>
           <small>{{ details.EventParticipantActualNumber }}/{{ details.EventParticipantTotalNumber }}</small><br>
           <ons-switch ng-model="check" ng-change="enrolled(check,details)" ng-checked="loadEnrolled(details.Enroll)"></ons-switch>
          
        </div></div>
     </ons-list-item>


   </ons-list>
</ons-page>
