<ons-page modifier="login" ng-controller="LoginController">


<div class="logo">
    <img src="img/logo.jpg" width="100" class="logo" alt="">
</div>


  <div style="text-align: center; margin-top: 30px;">
    <p>
      <ons-input id="username" modifier="underbar" placeholder="Usuário" float ng-model="username" ></ons-input>
    </p>
    <p>
      <ons-input id="password" modifier="underbar" type="password" placeholder="Senha" float ng-model="password"></ons-input>
    </p>
    <p ng-show="invalid" class="message_error">Login inválido.</p>
    <p style="margin-top: 30px;">
      <ons-button ng-click="navigateToLogin()">Acessar</ons-button>
    </p>
  </div>
</ons-page>
