<ons-splitter>
  <ons-splitter-side var="menu" id="menu" side="left" width="220px" !swipeable collapse>
    <ons-page ng-controller="MenuController">
      <ons-list>
          <ons-list-item>
           <div class="left">
            <ons-icon size="50px" icon="user"></ons-icon>
          </div>
          <div class="center">
            Bem-Vindo, {{nameUser}}
          </div>
         </ons-list-item>
         <ons-list-item ng-click="fn.load('views/home.html')" tappable>
          Inicio
        </ons-list-item>
        <ons-list-item ng-click="fn.load('views/certificado.html')" tappable>
          Certificado
        </ons-list-item>
        <ons-list-item ng-click="fn.load('views/turmas.html')" tappable>
          Eventos
        </ons-list-item>
       <ons-list-item ng-click="fn.load('views/inscricaoevento.html')" tappable>
         Inscrição Evento
       </ons-list-item>
        <ons-list-item ng-click="exit()" tappable>
          Sair
        </ons-list-item>
      </ons-list>
    </ons-page>
  </ons-splitter-side>
  <ons-splitter-content id="content" page="views/home.html">
  </ons-splitter-content>
</ons-splitter>
