<ons-page ng-controller="TurmasController">

  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="fn.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      Eventos
    </div>
  </ons-toolbar>

  <div style="margin: 11px 11px 11px 11px; background: white">
    <div class="button-bar" style="width:100%;">
      <div class="button-bar__item">
        <input type="radio" class="button-bar__input" name="segment-a" ng-click="previous()">
        <button class="button-bar__button">Anteriores</button>
      </div>
      <div class="button-bar__item">
        <input type="radio" class="button-bar__input" name="segment-a" checked ng-click="today()">
        <button class="button-bar__button">Hoje</button>
      </div>
      <div class="button-bar__item">
        <input type="radio" class="button-bar__input" name="segment-a" ng-click="next()">
        <button class="button-bar__button">Proximas</button>
      </div>
    </div>
  </div>



  <div style="text-align: center; margin-top: 30px;">
    <p ng-show="invalid_turmas" class="message_error" id="message_null">Não possui turmas nesse período</p>
  </div>
  <ons-list ng-repeat="turma in events">

     <ons-list-header>{{turma.Day | date: 'dd/MM/yyyy'}}</ons-list-header>
     <ons-list-item ng-click="navigateToTurma(details)" modifier="chevron" ng-repeat="details in turma.ListDays" tappable>
       <div class="turma">
         <strong>{{ details.EventName }} </strong>
         <small> {{ details.HourStart }} - {{ details.HourEnd }} </small>
       </div>
       <div class="right">
         <div class="turma-icon">
           <ons-icon icon="md-face"></ons-icon>
           <small>{{ details.EventParticipantActualNumber }}/{{ details.EventParticipantTotalNumber }}</small>
         </div>

       </div>
     </ons-list-item>


   </ons-list>
</ons-page>
