.turma {
  display: block;
  position: relative;
}

.turma strong{
  display: block;
}

.itemDashboard {
  width: 100%;
  margin: 0;
}
.turma-icon {
  text-align: center;
}

.Dashboard {
  font-size: 30px;
  text-align:center;
}

.TitleDashboard {
  text-align:center;
  color: '#000080';
  font-weight: bold;
}

.TitleName {
    font-size: 40px;
    text-align:center;
    color: '#000000';
}

.TitleDashboardResult {
    font-size: 70px;
    text-align:center;
    margin: 0;
}

.turma-icon .ons-icon {
  display: block
}

#map_canvas {
    position: absolute;
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: -1
}

.search-input-map{
    width:60%;
    z-index:1;
    margin-left: auto;
    margin-right:auto;
}

.par-search{
    margin-top:10%
}

.par-buttons{
    position: absolute;
    text-align: center;
    width:100%;
    bottom:0px
}

.btn-delete{
    z-index:1
}

.btn-distance{
    z-index:1; margin-left: 5px;
}

.logo img {

  width: 282px;
  height: 200px;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}
.logo {


  text-align: center;
}
.page--login__background {
    background-image: url(../img/background.jpg);
    opacity: 0.1;
    background-position: center center;
    background-size: cover;
}
